[push]
	default = simple
[user]
        name = chenlianghong
        email = clh021@gmail.com
[color]
        status = auto
        diff = auto
        branch = auto
        interactive = auto
[https]
	proxy = socks5://proxy.main.url:7021
[http]
	proxy = socks5://proxy.main.url:7021
