#更新hosts文件
#curl -sSL https://raw.githubusercontent.com/racaljk/hosts/master/tools/lhosts | sudo sh
#备份打包Home命令



#不需要跟踪的内容列表
#缓存
.cache
#错误信息
.xsession-errors
#好像是一些操作次数统计
.config/launcher/rate.ini
#bash日志
.bash_history
#id_rsa秘钥
id_rsa




#需要跟踪的内容
#浏览器的内容，扩展，收藏，历史记录
.config/google-chrome/
#候选字数从5修改为9
.config/SogouPY/sogouEnv.ini
.config/fcitx/config
#开机启动配置备份
.config/autostart
.config/deepin/dde-launcher-app-autostart.conf
#git配置
.gitconfig
#bash配置
.bashrc
#vim配置
.vimrc
#ssh配置
.ssh
#npm软件及包
#可以自己把握软件版本，同时可快速移植
.npm
#php软件及包
#可以自己灵活控制多版本并快速移植
.composer




